{
  "name": "{{ name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "author": "{{ author }}",
  "license": "{{ license }}",
  "main": "index.js",
  "types": "index.d.js",
  "scripts": {
    "prepublishOnly": "npm run build",
    "build": "tsc --skipLibCheck"
  },
  "dependencies": {
    "@pagopa/ts-commons": "^10.0.0",
    "fp-ts": "^2.10.5",
    "io-ts": "^2.2.16"
  },
  "devDependencies": {
    "typescript": "^4.3.0"
  }{% if registry %},
  "publishConfig": {
    "registry": "{{ registry }}",
    "access": "{{ access }}"
  }{% endif %}
}
