{
  "name": "{{ name }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "author": "{{ author }}",
  "license": "{{ license }}",
  "main": "index.js",
  "types": "index.d.js",
  "scripts": {
    "prepublishOnly": "npm run build",
    "build": "tsc --skipLibCheck"
  },
  "dependencies": {
    "fp-ts": "1.17.4",
    "io-ts": "1.8.5",
    "italia-ts-commons": "^5.1.13"
  },
  "devDependencies": {
    "typescript": "^3.8.3"
  }{% if registry %},
  "publishConfig": {
    "registry": "{{ registry }}",
    "access": "{{ access }}"
  }{% endif %}
}
