{
  "compilerOptions": {
    "target": "es2015",
    "module": "commonjs",
    "moduleResolution": "node",
    "strict": true,
    "noImplicitAny": true,
    "declaration": true,
    "sourceMap": true,
    "lib": ["es2015", "dom"]
  },
  "exclude": ["node_modules"]
}
