openapi: 3.0.0
info:
  version: 0.0.1
  title: Pagopa eCommerce payment methods service
  description: This microservice handles payment methods.
  contact:
    name: pagoPA - Touchpoints team
tags:
  - name: payment-methods
    description: Api's for handle payment methods
    externalDocs:
      url: https://pagopa.atlassian.net/wiki/spaces/I/pages/611516433/-servizio+payment+methods+service
      description: Technical specifications
externalDocs:
  url: https://pagopa.atlassian.net/wiki/spaces/I/pages/492339720/pagoPA+eCommerce+Design+Review
  description: Design review
servers:
  - url: https://api.platform.pagopa.it/payment-methods
paths:
  /dubidubidu:
    post:
      operationId: postDubidubidu
      responses:
        200:
          description: Desc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DubidubiduResponse'

components:
  schemas:
    DubidubiduResponse:
      type: object
      description: Form data needed to create a payment method input form
      properties:
        sessionId:
          type: string
          description: Identifier of the payment gateway session associated to the form
        fields:
          oneOf:
            - type: array
              items:
                $ref: "#/components/schemas/CardFormField"
            - type: array
              items:
                $ref: "#/components/schemas/FieldAA"
          discriminator:
            propertyName: paymentMethod
            mapping:
              CARD: "#/components/schemas/CardFormFields"
      required:
        - fields
        - sessionId
    FieldAA:
      type: object
      properties:
        paymentMethod:
          type: string
      required:
        - paymentMethod
    CardFormField:
      type: object
      description: Form fields for credit cards
      properties:
        paymentMethod:
          type: string
        form:
          type: array
          items:
            $ref: '#/components/schemas/Field'
      required:
        - paymentMethod
        - form
    Field:
      type: object
      properties:
        foo:
          type: string
